* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
/* Variáveis de cores */
:root {
    --branco: #f2f2f2;
    --cinza: #e4e4e4;
    --vermelho-claro: #f7dcdc;
    --vermelho-medio: #d74f4f;
    --vermelho-escuro: #b13a3a;
    --vermelho-escuro-2: #750000;
}
/* Estilos do Banner */
.banner-section {
    background-color: rgba(215, 79, 79, 0.);
    height: 200px;
}
.banner-text {
    background-color: #B13A3A;
    border-radius: 10px;
    max-width: 605px;
    height: 120px;    
}
.banner-text > p {
    color: #F8F8F8;
    font-family: Arvo;
    font-weight: 700;
    font-size: 26px;
}
/* Outros estilos */