.container {
    text-align: center;
    margin-top: 50px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
  }
  
  .hidden {
    display: none;
  }
  
  #estrelas {
    margin-top: 10px;
  }
  
  .estrela {
    font-size: 30px;
    cursor: pointer;
    color: #ffd700;
  }
  
  .estrela:hover,
  .estrela.active {
    color: #ffac33;
  }
  